/* General Styles for all Pages */

/* Box-Model Fix */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Body */
body {
	background-color: lightyellow;
	font-family: Arial, sans-serif;
}

/* Top Header Elements */
nav {
	background-color: lightsalmon;
	border-color: black;
	border-style: groove;
}
nav a {
	color: black;
	display: inline-block;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
}
nav a:hover {
	background-color: darksalmon;
	font-weight: bold;
}
hgroup {
	margin-bottom: 60px;
	text-align: center;
}

/* Main Content */
main {
	margin-left: 20%;
	margin-right: 20%;
	/* Leave some space for the footer if it overlaps the main content */
	padding-bottom: 15%;
}

/* Footer */
footer {
	background-color: powderblue;
	padding: 20px 0;
	text-align: center;
	border-top: 1px solid paleturquoise;

	/* Make footer stick to bottom */
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
}
.socials {
	list-style-type: none;
	padding: 0;
}
.socials li {
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
}
