#text-to-file-form {
	margin-top: 20px;
}

#text-input-label {
	display: block;
	font-weight: bold;
	margin-bottom: 8px;
}

#text-input-area {
	border: 1px solid gainsboro;
	border-radius: 4px;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 10px;
	resize: vertical;
	width: 100%;
}

#file-name-label,
#file-type-label {
	display: block;
	font-weight: bold;
	margin-bottom: 6px;
}

#file-name-input {
	border: 1px solid gainsboro;
	border-radius: 4px;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.flex-container {
	display: flex;
	column-gap: 50%;
	justify-content: space-between;
	margin-bottom: 20px;
}

.flex-item {
	flex: 1 0 auto;
}

#file-type-select {
	border: 1px solid gainsboro;
	border-radius: 4px;
	font-size: 16px;
	padding: 5px;
}

#download-btn {
	background-color: forestgreen;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 20px;
}

#download-btn:hover {
	background-color: darkgreen;
}

#error-message {
	background-color: midnightblue;
	border-radius: 2px;
	color: orangered;
	margin-bottom: 20px;
	text-align: center;
}

/* Responsive design for screens up to 1100px */
@media screen and (max-width: 1100px) {
	#text-input-area {
		resize: none;
	}

	#file-type-label {
		display: block;
		margin-bottom: 5px;
	}

	.flex-container {
		column-gap: 20%;
	}
}
